@font-face {
    font-family: 'press_startregular';
    src: url('prstart-webfont.woff2') format('woff2'),
         url('prstart-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
  font-family: 'press_startregular';
}
body {
  background-color: #000000;
  width: 100%;
}
.text {
  color: #ffffff;
  display: inline;
}
#topbox{
  border: solid;
  border-radius: 5px;
  float: top;
  border-color: #ffffff;
  height: 25%;
  width: 100%;
  padding: 20px 50px;
}