@font-face {
    font-family: 'press_startregular';
    src: url('prstart-webfont.woff2') format('woff2'),
         url('prstart-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  font-family: 'press_startregular';
}

#gametext{
  font-size: 20px;
  width: 500px;
  height: 500px;
  margin: 10px 5px 0px 5px;
  animation: type 4s steps(60, end);
}

@keyframes type{
  from { width: 0; }
}